<app-header></app-header>

<div class="mt-5 mb-5">
  <div class="container-fliud">
    <div class="clearfix">
      <h4 class="left">TABLE</h4>
      <div class="right">
        <button type="button" (click)="createData()" class="btn btn-primary mb-3">
          Open</button>
      </div>

    </div>

    <table id="Studentform">
      <thead>
        <tr>
          <th>RollNo</th>
          <th>Studentname</th>
          <th>FatherName</th>
          <th>Gender</th>
          <th>DateofBirth</th>
          <th>Department</th>
          <th>Address</th>
          <th>EmailId</th>
          <th>Password</th>
          <th>confirm Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="studentdata">
        <tr *ngFor="let data of studentList, let i = index">
          <td>{{data.rollNO}}</td>
          <td>{{data.studentName}}</td>
          <td>{{data.fatherName}}</td>
          <td>{{data.gender}}</td>
          <td>{{data.birthDate}}</td>
          <td>{{data.depart}}</td>
          <td>{{data.address}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>
          <td>{{data.confirmPassword}}</td>
          <td>
            <button type="button" (click)="editData(data.rollNO)" class="edit_button btn btn-secondary">Edit</button>

            <button type="button" (click)="deleteData(i)" class="delete_button btn btn-secondary mt-2">Delete</button>
          </td>


        </tr>

      </tbody>
    </table>


    <div class="modal fade show" [ngClass]="{'showPopup': isPopupOpen}">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>Student Data</b></h5>
            <button type="button" (click)="isPopupOpen = false" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="studentData">
              <div class="form-group row">
                <label for="rollno" class="col-sm-2 col-form-label align-last"><b>RollNo
                  </b>:</label>
                <div class="col-sm-10">
                  <input [class.is-invalid]="studentData.get('rollNO')?.invalid && studentData.get('rollNO')?.touched" formControlName='rollNO' required type="number" class="form-control" id="rollno"
                    placeholder="Enter Number">
                   <span [class.d-none]="studentData.get('rollNO')?.valid || 
                                         studentData.get('rollNO')?.untouched" class="text-danger">Rollno is required</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="Studentname" class="col-sm-2 col-form-label align-last"><b>Student
                    Name</b>:</label>
                <div class="col-sm-10">
                  <input [class.is-invalid]="studentData.get('studentName')?.invalid && studentData.get('studentName')?.touched" formControlName='studentName' required type="text" class="form-control" id="sname"
                    placeholder="Enter Student name">
                   <div *ngIf="studentData.get('studentName')?.invalid && studentData.get('studentName')?.touched">
                    <span *ngIf="studentData.get('studentName')?.errors?.required" class="text-danger" >Studentname is required</span>
                    <span *ngIf="studentData.get('studentName')?.errors?.minlength" class="text-danger">Studentname must be 3 digit</span>
                   </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="FatherName" class="col-sm-2 col-form-label align-last"><b>Father
                    Name</b>:</label>
                <div class="col-sm-10">
                  <input [class.is-invalid]="studentData.get('fatherName')?.invalid && studentData.get('fatherName')?.touched" formControlName='fatherName' required type="text" class="form-control" id="inputFname"
                    placeholder="Enter Father Name">
                    <div *ngIf="studentData.get('fatherName')?.invalid && studentData.get('fatherName')?.touched">
                      <span *ngIf="studentData.get('fatherName')?.errors?.required" class="text-danger">Fathername is required</span>
                      <span *ngIf="studentData.get('fatherName')?.errors?.minlength" class="text-danger">Fathername must be 3 digit</span>
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="control-label col-sm-2 align-last"><b>Gender:</b></label>
                <div class="col-sm-6">
                  <div class="row ml-1">
                    <div class="form-check col-sm-4">
                      <input formControlName='gender' required class="form-check-input" type="radio" name="gender"
                        id="Gender" value="Male">
                      <label class="form-check-label radio-inline" for="gender">
                        Male
                      </label>
                    </div>
                    <div class="form-check col-sm-4">
                      <input required class="form-check-input" type="radio" name="gender" id="Gender" value="Female">
                      <label class="form-check-label radio-inline" for="gender">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="birthDate" class="col-sm-2 col-form-label align-last"><b>Date of
                    Birth:</b></label>
                <div class="col-sm-10">
                  <input [class.is-invalid]="studentData.get('birthDate')?.invalid && studentData.get('birthDate')?.touched" formControlName='birthDate' required type="date" id="birthDate" class="form-control"
                    placeholder="mm/dd/yyyy">
                    <span [class.d-none]="studentData.get('birthDate')?.valid || studentData.get('birthDate')?.untouched" class="text-danger">Date of birth is required</span>
                </div>
              </div>



              <div class="form-group row">
                <label for="Department" class="col-sm-2 col-form-label align-last"><b>Department:</b></label>
                <div class="col-sm-10">
                  <select [class.is-invalid]="studentData.get('depart')?.invalid && studentData.get('depart')?.touched" class="form-control" id="depart" formControlName='depart'>
                    
                    <option value="default">--select your dep--</option>
                    <option value="CSE">CSE</option>
                    <option value="MECH">MECH</option>
                    <option value="EEE">EEE</option>
                    <option value="ECE">ECE</option>
                    <option value="CIVIL">CIVIL</option>
                  </select>
                  <span [class.d-none]="studentData.get('depart')?.valid || studentData.get('depart')?.untouched" class="text-danger">Department is required</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="Address" class="col-sm-2 col-form-label align-last"><b>Address:</b></label>
                <div class="col-sm-10">
                  <textarea [class.is-invalid]="studentData.get('address')?.invalid && studentData.get('address')?.touched" formControlName='address'  name="Address" id="Address" class="form-control"
                    rows="4"></textarea>
                  <span [class.d-none]="studentData.get('address')?.valid ||studentData.get('address')?.untouched" class="text-danger">Address is required</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label align-last"><b>Email
                    id:</b></label>
                <div class="col-sm-10">
                  <input  [class.is-invalid]="studentData.get('email')?.invalid && studentData.get('email')?.touched" formControlName='email' type="email" class="form-control" id="email"
                    placeholder="Enter Email Address">
                    
                    <span [class.d-none]="studentData.get('email')?.valid || studentData.get('email')?.untouched" class="text-danger">EmailId is required</span>
                    
                </div>
              </div>



              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label align-last"><b>Password:</b></label>
                <div class="col-sm-10">
                  <input [class.is-invalid]="studentData.get('password')?.invalid && studentData.get('password')?.touched"  formControlName='password' type="password" class="form-control" id="Password" #Password
                    placeholder="Enter Password">
                    <small [class.d-none]="studentData.get('password')?.valid || studentData.get('password')?.untouched" class="text-danger">Password is required</small>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label align-last"><b> Confirm Password:</b></label>
                <div class="col-sm-10">
                  <input type="password" formControlName='confirmPassword' pattern ="{{Password.value}}"  class="form-control" id="confirmPassword"
                    placeholder="Enter Password">
                    <small *ngIf="studentData.get('confirmPassword')?.errors?.pattern " class="text-danger">Password and confirm password should be same</small>
                </div>
              </div>



              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkbox">
                    <label class="form-check-label" for="gridCheck1">
                      Agree to Terms and Conditions Name
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button (click)="submitData()" type="button" class="btn btn-primary">SUBMIT</button>
                </div>
              </div>


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
